<nav>

  <ul>

    <li>

      <mat-card>

        <mat-card-header>

          <mat-card-title>Incoming Funds</mat-card-title>

        </mat-card-header>

        <mat-card-content>

          <p>What income are you expecting to make?</p>

        </mat-card-content>

        <mat-card-actions>

          <button mat-raised-button color="accent" routerLink="/income/create">

            Add Income

            <i class="material-icons">attach_money</i>

          </button>

        </mat-card-actions>

      </mat-card>

    </li>

    <li>

      <mat-card>

        <mat-card-header>

          <mat-card-title>Outgoing/Expenses</mat-card-title>

        </mat-card-header>

        <mat-card-content>

          <p>What are you planning to spend?</p>

        </mat-card-content>

        <mat-card-actions>

          <button mat-raised-button color="accent">

            Add Expense

            <i class="material-icons">receipt</i>

          </button>

        </mat-card-actions>

      </mat-card>

    </li>

    <li>

      <mat-card>

        <mat-card-header>

          <mat-card-title>See The Plan</mat-card-title>

        </mat-card-header>

        <mat-card-content>

          <p>See how it all fits together.</p>

        </mat-card-content>

        <mat-card-actions>

          <button mat-raised-button color="primary">

            View Budget

            <i class="material-icons">launch</i>

          </button>

        </mat-card-actions>

      </mat-card>

    </li>

  </ul>

</nav>
