mat-card.mat-card {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;

  .mat-card-header-text {
    margin: 0 0;
  }

  p {
    color: gray;
  }

}

mat-vertical-stepper {
  .mat-step-label {
    white-space: normal;
  }
}
